html,
body,
#cover{
  background-image: url('../images/background-fitness.jpg');
}
.container
{
  position: relative;
  top: 150px;
}


.card
{
  background-color: #383838;
  border: 3px solid #fff;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
}
.spacer{

}
