body{
background-image: url("../images/gym.jpg");
background-size: cover;
background-position: center center;
background-attachment: fixed;
}
#hesap{
  background-color: #000000;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;



}
#hesap h1{
  color: #D2691E;
}
#hesap h4{
  color: #fff;
}
#hesap label{
  color: #A9A9A9	;
}
