body{
background-image: url("../images/big.jpg");
background-size: cover;
background-position: center center;
background-attachment: fixed;
}




#kayıt{
  background-color: #000000;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;



}

#kayıt label{
  color: #A9A9A9	;
}
#kayıt h1{
  color: #D2691E;
}
#kayıt h4{
  color: 	#fff;
}
input[type="date"]
{
    display:block;


     -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em;
  }



  .fa {
  padding: 20px;
  font-size: 20px;
  width: 70px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  color: #2b2929;
}

.fa-facebook {
  background: #1877f2;
  color: white;
}


.fa-google {
  background: #ea4335;
  color: white;
}




.form-color{
  background-color: #2b2929;
  color: #2b2929;
}
