@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.home{
  background-image: url('../images/background-fitness.jpg');
  position: relative;

}

/* navbar */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, .6)!important;
}
.navbar-brand img{
  height: 2rem;
}
.navbar-nav li{
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #e72b2b;
}

/* dropdown menu in navbar */

.dropdown-item{
  color: white;
  padding-top: .8rem;
}
.dropdown-navbar-menu{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, .6)!important;
}
/* Social Media */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  color: #2b2929;
}

.fa-facebook {
  background: #1877f2;
  color: white;
}
.fa-twitter {
  background: #1da1f2;
  color: white;
}

.fa-google {
  background: #ea4335;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram{
  background: #c32aa3;
  color: white;
}

.form-color{
  background-color: #2b2929;
  color: #2b2929;
}

/* add space */

.spacer {
    padding-top: 40px;
    padding-bottom: 20px
}

 /* delete space */

.jumbotron{
  margin-bottom: auto;
}
